[submodule "TFIDF_cpp"]
	path = TFIDF_cpp
	url = https://github.com/taozhaojie/TFIDF_cpp.git
[submodule "link-meta-extractor"]
	path = link-meta-extractor
	url = https://github.com/stackblogger/link-meta-extractor.git
[submodule "Phishing.Database"]
	path = Phishing.Database
	url = git@github.com:mitchellkrogza/Phishing.Database.git
[submodule "url-knife"]
	path = url-knife
	url = https://github.com/Andrew-Kang-G/url-knife.git
[submodule "tf-idf"]
	path = tf-idf
	url = https://github.com/Wittline/tf-idf.git
